<template>
  <div class="home">
    <v-row>
      <v-col cols="12">
        <candles></candles>
      </v-col>
      <v-col cols="12">
        <bluepink></bluepink>
      </v-col>
      <v-col cols="12">
        <triplication></triplication>
      </v-col>
      <v-col cols="12">
        <greenorange></greenorange>
      </v-col>
      <v-col cols="12">
        <cinzavermelho></cinzavermelho>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Candles from '@/components/Candles.vue'
import BluePink from '@/components/BluePink.vue'
import GreenOrange from '@/components/GreenOrange.vue'
import Triplication from '@/components/Triplication.vue'
import CinzaVermelho from '@/components/CinzaVermelho.vue'

export default {
  name: 'Home',
  components: {
    'candles': Candles,
    'bluepink': BluePink,
    'greenorange': GreenOrange,
    'triplication': Triplication,
    'cinzavermelho': CinzaVermelho
  }
}
</script>

<style>
.v-expansion-panel-content__wrap {
  padding: 16px !important;
}
</style>