<template>
  <v-row>
    <v-snackbar
      app
      v-model="snackbar"
      :timeout="timeout"
      :color="color"
    >
      <span>{{ snackbartext }}</span>
    </v-snackbar>
    <v-col cols="12">
      <v-card class="money">
        <v-toolbar flat dense>
          <v-toolbar-title class="subtitle-1">Banca & Payout</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-row>
              <v-col cols="6">
                <v-text-field dense type="number" label="Payout" class="text-centered" :value="payout" @input="updatePayout"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field dense type="number" label="Banca" class="text-centered" :value="banca" @input="updateBanca"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field dense type="number" label="% Retorno" class="text-centered" :value="retorno" @input="updateRetorno"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-btn @click="calcularMartingale">Calcular</v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-card>
        <v-toolbar flat dense>
          <v-toolbar-title class="subtitle-1">Cálculo</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-simple-table fixed-header height="310">
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-center">Entrada</th>
                  <th class="text-center">Loss</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in entradas" :key="index">
                  <td class="text-center"><span @click="doCopy(item.entrada.toFixed(2))" style="cursor: pointer;">${{ item.entrada.toFixed(2) }}</span></td>
                  <td class="text-center red--text">-{{ (item.loss * 100).toFixed(2) }}%</td>
                  <td class="text-center">
                    <v-btn x-small icon color="green lighten-2" @click="updateWin(item.entrada)">
                      <v-icon>mdi-thumb-up</v-icon>
                    </v-btn>
                    <v-btn x-small icon color="red lighten-2" @click="updateLoss(item.entrada)">
                      <v-icon>mdi-thumb-down</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Money',
  data() {
    return {
      snackbar: false,
      timeout: 3000,
      snackbartext: '',
      color: 'deep-purple'
    }
  },
  methods: {
    updatePayout(e) {
      this.$store.commit('updatePayout', e)
    },
    updateBanca(e) {
      this.$store.commit('updateBanca', e)
    },
    updateRetorno(e) {
      this.$store.commit('updateRetorno', e)
    },
    calcularMartingale() {
      this.$store.commit('calcularMartingale')
    },
    updateWin(v) {
      this.$store.commit('updateWin', v)
      this.calcularMartingale()
    },
    updateLoss(v) {
      this.$store.commit('updateLoss', v)
    },
    doCopy(v) {
      this.$copyText(v).then(() => {
        this.snackbartext = `Valor ${v} copiado.`;
        this.snackbar = true;
      });
    }
  },
  computed: {
    ...mapState(['payout', 'banca', 'retorno', 'entradas'])
  }
}
</script>

<style scoped>
.text-centered >>> input {
  text-align: center;
}

.center {
  text-align: center;
}

.money .v-card__text {
  padding: 30px 10px 10px !important;
}
</style>