<template>
  <v-card height="98">
    <v-toolbar flat dense>
      <v-toolbar-title class="body-1"><span class="blue--text">Azul</span>, <span class="pink--text">Rosa</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="caption">
        <span class="blue--text font-weight-black mr-1">{{ blueCount.toFixed(0) }}%</span>|<span class="pink--text font-weight-black ml-1">{{ pinkCount.toFixed(0) }}%</span>
      </div>
    </v-toolbar>
    <v-card-text>
      <div class="bluepink">
        <div v-for="(item, index) in azulrosa" :key="index" :class="[item, item === 'b' ? 'blue' : 'pink']"></div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'BluePink',
  computed: {
    blueCount() {
      return ((this.azulrosa.split('b').length - 1) / this.azulrosa.length) * 100 || 0;
    },
    pinkCount() {
      return ((this.azulrosa.split('p').length - 1) / this.azulrosa.length) * 100 || 0;
    },
    ...mapState({
      azulrosa: state => state.azulrosa.substring(state.azulrosa.length - 36)
    })
  }
}
</script>

<style scoped>
.bluepink {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(12, auto);
}

.b, .p {
  width: 100%;
  height: 12px;
}
</style>