<template>
  <v-card height="156">
    <v-toolbar flat dense>
      <v-toolbar-title class="body-1">Velas</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn small icon color="green" @click="addCandle('g')" v-shortkey="['alt', 'q']" @shortkey="addCandle('g')">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn small icon color="red" @click="addCandle('r')" v-shortkey="['alt', 'w']" @shortkey="addCandle('r')">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn small icon color="grey" @click="addCandle('d')" v-shortkey="['alt', 'e']" @shortkey="addCandle('d')">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn small icon color="yellow" @click="removeLastCandle" v-shortkey="['alt', 'd']" @shortkey="removeLastCandle">
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-btn small icon color="red" @click="dialog = true" v-shortkey="['alt', 'c']" @shortkey="dialog = true">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <div class="candles">
          <div v-for="(item, index) in candles" :key="index" :class="[item, item === 'r' ? 'red' : (item === 'g') ? 'green' : 'grey']"></div>
      </div>
    </v-card-text>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Limpar Velas?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog = false">Não</v-btn>
          <v-btn color="green darken-1" text @click="clearCandles">Sim</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Candles',
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    addCandle(v) {
      this.$store.commit('addCandle', v)
    },
    removeLastCandle() {
      this.$store.commit('removeLastCandle')
    },
    clearCandles() {
      this.$store.commit('clearCandles')
      this.dialog = false
    }
  },
  computed: {
    ...mapState({
      candles: state => state.candles.substring(state.candles.length - 120)
    })
  }
}
</script>

<style scoped>
.candles {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(15, auto);
}

.r, .g, .d {
  width: 100%;
  height: 10.5px;
}
</style>