<template>
  <v-card height="84">
    <v-toolbar flat dense>
      <v-toolbar-title class="body-1"><span class="grey--text">Cinza</span>, <span class="red--text">Vermelho</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="caption">
        <span class="grey--text font-weight-black mr-1">{{ cinzaCount.toFixed(0) }}%</span>|<span class="red--text font-weight-black ml-1">{{ vermelhoCount.toFixed(0) }}%</span>
      </div>
    </v-toolbar>
    <v-card-text>
      <div class="cinzavermelho">
        <div v-for="(item, index) in cinzavermelho" :key="index" :class="[item, item === 'c' ? 'grey' : 'red']"></div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'CinzaVermelho',
  computed: {
    cinzaCount() {
      return ((this.cinzavermelho.split('c').length - 1) / this.cinzavermelho.length) * 100 || 0;
    },
    vermelhoCount() {
      return ((this.cinzavermelho.split('v').length - 1) / this.cinzavermelho.length) * 100 || 0;
    },
    ...mapState({
      cinzavermelho: state => state.cinzavermelho.substring(state.cinzavermelho.length - 24)
    })
  }
}
</script>

<style scoped>
.cinzavermelho {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(12, auto);
}

.c, .v {
  width: 100%;
  height: 12px;
}
</style>