<template>
  <v-card height="98">
    <v-toolbar flat dense>
      <v-toolbar-title class="body-1"><span class="green--text">Verde</span>, <span class="deep-orange--text">Laranja</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="caption">
        <span class="green--text font-weight-black mr-1">{{ greenCount.toFixed(0) }}%</span>|<span class="deep-orange--text font-weight-black ml-1">{{ orangeCount.toFixed(0) }}%</span>
      </div>
    </v-toolbar>
    <v-card-text>
      <div class="greenorange">
        <div v-for="(item, index) in verdelaranja" :key="index" :class="[item, item === 'g' ? 'green' : 'deep-orange']"></div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'GreenOrange',
  computed: {
    greenCount() {
      return ((this.verdelaranja.split('g').length - 1) / this.verdelaranja.length) * 100 || 0;
    },
    orangeCount() {
      return ((this.verdelaranja.split('o').length - 1) / this.verdelaranja.length) * 100 || 0;
    },
    ...mapState({
      verdelaranja: state => state.verdelaranja.substring(state.verdelaranja.length - 21)
    })
  }
}
</script>

<style scoped>
.greenorange {
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(7, auto);
}

.g, .o {
  width: 100%;
  height: 12px;
}
</style>