<template>
  <v-card height="84">
    <v-toolbar flat dense>
      <v-toolbar-title class="caption"><span class="green--text">Triplicação</span>, <span class="red--text">Não Triplicação</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="caption">
        <span class="green--text font-weight-black mr-1">{{ triplicationCount.toFixed(0) }}%</span>|<span class="red--text font-weight-black ml-1">{{ nTriplicationCount.toFixed(0) }}%</span>
      </div>
    </v-toolbar>
    <v-card-text>
      <div class="triplication">
        <div v-for="(item, index) in triplicacao" :key="index" :class="[item, item === 't' ? 'green' : 'red']"></div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Triplication',
  computed: {
    triplicationCount() {
      return ((this.triplicacao.split('t').length - 1) / this.triplicacao.length) * 100 || 0;
    },
    nTriplicationCount() {
      return ((this.triplicacao.split('n').length - 1) / this.triplicacao.length) * 100 || 0;
    },
    ...mapState({
      triplicacao: state => state.triplicacao.substring(state.triplicacao.length - 12)
    })
  }
}
</script>

<style scoped>
.triplication {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(6, auto);
}

.t, .n {
  width: 100%;
  height: 12px;
}
</style>