<template>
  <v-app>
    <v-app-bar
      app
      style="-webkit-app-region: drag"
    >
      <v-badge
        color="transparent"
        :content="$remote.app.getVersion()"
        overlap
      >
        <v-toolbar-title>OBProb</v-toolbar-title>
      </v-badge>
      <v-spacer></v-spacer>
      <v-checkbox color="white" v-model="alwaysOnTop" hide-details style="-webkit-app-region: no-drag;"></v-checkbox>
      <v-btn draggable="false" color="purple" icon to="/" v-if="$route.name !== 'Home'" style="-webkit-app-region: no-drag;">
        <v-icon>mdi-poll</v-icon>
      </v-btn>
      <v-btn draggable="false" color="green" icon to="/money" v-else style="-webkit-app-region: no-drag;">
        <v-icon>mdi-cash</v-icon>
      </v-btn>
      <v-btn draggable="false" icon style="-webkit-app-region: no-drag;" color="red" @click="window.close()">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main style="padding: 66px 0px 0px;">
      <v-container fluid>
        <transition name="fade" mode="out-in">
          <router-view ></router-view>
        </transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',
  data() {
    return {
      alwaysOnTop: true,
      window: this.$remote.getCurrentWindow()
    }
  },
  computed: {
    ...mapState(['candles', 'azulrosa'])
  },
  watch: {
    alwaysOnTop() {
      this.window.setAlwaysOnTop(this.alwaysOnTop)
    },
    candles() {
      this.$store.commit('searchForBluePink');
      this.$store.commit('searchForGreenOrange');
      this.$store.commit('searchForCinzaVermelho');
    },
    azulrosa() {
      this.$store.commit('searchForTriplication');
    }
  },
  beforeMount() {
    this.$store.commit('searchForBluePink');
    this.$store.commit('searchForGreenOrange');
    this.$store.commit('searchForCinzaVermelho');
  }
};
</script>

<style>
* {
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html, body {
  overflow-x: hidden;
}

.v-card__text {
  padding: 5px !important;
}

.col {
  padding-top: 0px!important;
}

.container {
  padding-bottom: 0px!important;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
